<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0Auth Verification</title>
    <h2>Chose One</h2>
    <p> <a href="/users/auth/google/login">Login With Google</a></p>
    <p> <a href="/users/auth/google/register">Register With Google</a></p>

    <br/>
    <p><a href="/users/auth/facebook/login">Login With Facebook</a></p>
    <p><a href="/users/auth/facebook/register">Register With Facebook</a></p>
</head>
<body>
    
</body>
</html>